form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: none;
    border-radius: 20px;
}

input{
    width: 100%;
    padding: 8px;
    margin: 5px;
    border: 2px solid #c9c9c9;
    border-radius: 4px;
}

#message{
    height: 7em;
}

input[type=submit]{
    align-self: center;
    background: #3DCD58;
}